<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6418402223.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Template/style.css" />
    <title>Manuel Test</title>
  </head>
  <body>
    <div class="grid-container">
      <!-- Header -->
      <header class="row">
        <div>
          <a href="index.html" class="brand">Manuel</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <!-- Main -->
      <main>
        <div class="row center">
          <!-- Single Product -->
          <div class="card">
            <a href="product.html">
              <!-- Size img: 680px by 830px -->
              <img src="./images/product-1.jpg" alt="product" class="medium" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Single Product -->
          <div class="card">
            <a href="product.html">
              <!-- Size img: 680px by 830px -->
              <img src="./images/product-1.jpg" alt="product" class="medium" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Single Product -->
          <div class="card">
            <a href="product.html">
              <!-- Size img: 680px by 830px -->
              <img src="./images/product-1.jpg" alt="product" class="medium" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- End Single Product -->
          <!-- Single Product -->
          <div class="card">
            <a href="product.html">
              <!-- Size img: 680px by 830px -->
              <img src="./images/product-1.jpg" alt="product" class="medium" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h2>Nike Slim Shirts</h2>
              </a>
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <!-- End Single Product -->
        </div>
      </main>
      <footer class="row center">All rights reserved</footer>
    </div>
  </body>
</html>
